.post {
    
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

mat-card-content {
    padding-top: 30px;
    overflow-wrap: break-word;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}