.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcements {
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 20px;
}

.category-buttons {
    justify-content: center;
    flex-wrap: wrap;
}